<div id="<%= dom_id stop %>">
  <div>
    <strong>Id:</strong>
    <%= stop.id %>
  </div>

  <div>
    <strong>Code:</strong>
    <%= stop.code %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= stop.name %>
  </div>

  <div>
    <strong>Lat:</strong>
    <%= stop.lat %>
  </div>

  <div>
    <strong>Lon:</strong>
    <%= stop.lon %>
  </div>

</div>
