<div id="<%= dom_id route %>">
  <div>
    <strong>Id:</strong>
    <%= route.id %>
  </div>

  <div>
    <strong>Short name:</strong>
    <%= route.short_name %>
  </div>

  <div>
    <strong>Long name:</strong>
    <%= route.long_name %>
  </div>

  <div>
    <strong>Mode Type:</strong>
    <%= route.mode_type %>
  </div>

</div>
