

<p style="color: green"><%= notice %></p>

<%= render @route %>

<div>
  <%= link_to "Back", routes_path %>
  
  <% button_class = @is_saved ? "saved-button" : "" %>
  <% button_text = @is_saved ? "Forget Route" : "Save Route" %>
  <%= button_to button_text, save_route_path(@route), method: :post, class: button_class %>
</div>

<p>There are <%= @vehicles.count %> vehicles currently on this route</p>

<div 
  id="map" 
  style="height: 360px; width: 720px"
  data-controller="map"
  data-vehicles="<%= @vehicles.map{|vehicle| [vehicle.lat, vehicle.lon]}.to_json %>"
  data-shapes="<%= @shapes.to_json %>"
></div>

<% @vehicles.each do |vehicle| %>
  <p><%= vehicle %></p>
<% end %>
