<%= content_for :head do %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<% end %>

<p style="color: green"><%= notice %></p>

<%= render @route %>

<div>
  <%= link_to "Back", routes_path %>
  
  <% button_class = @is_saved ? "saved-button" : "" %>
  <% button_text = @is_saved ? "Forget Route" : "Save Route" %>
  <%= button_to button_text, save_route_path(@route), method: :post, class: button_class %>
</div>

<p>There are <%= @vehicles.count %> vehicles currently on this route</p>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<div id="map" style="height: 360px; width: 720px"></div>

<script>
const map = L.map('map').setView([43.6468, -79.3748], 12.48);
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
const vehicles = <%== @vehicles.map{|vehicle| [vehicle.lat, vehicle.lon]}.to_json %>;
vehicles.forEach( function (vehicle) {
  L.marker(vehicle).addTo(map);
});

const shapes = <%== @shapes.to_json %>;
L.polyline(shapes, {color: 'red'}).addTo(map);
</script>

<% @vehicles.each do |vehicle| %>
  <p><%= vehicle %></p>
<% end %>
